<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>UIAlertViewController.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E0687D6F1ECC4CBE00082AC2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E0687D881ECC4CD500082AC2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E0687D931ECC4CD800082AC2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
